<!DOCTYPE html>
<html class="login">
<head>
  <title>#{@page_title} - Shoppe</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <%= stylesheet_link_tag 'sub' %>
  <%= javascript_include_tag 'sub.html.erb' %>
</head>
<body>
<div id="content">
  <%= yield %>
</div>
</body>
</html>
