<h2>My Shopping Cart</h2>
<%= render 'items', :order => current_order %>
<p>
  <%= link_to 'Empty basket', cart_path, class: "btn btn-danger", :method => :delete %>
  <%= link_to 'Checkout', checkout_path, class: "btn btn-success" %>
</p>
